####################
#    Languages     #
####################

[[language]]
name = "css"
formatter = { command = "prettier", args = ["--parser", "css"] }
language-servers = [
  "vscode-css-language-server",
  "tailwindcss-language-server",
  "harper",
]

[[language]]
name = "c-sharp"
formatter = { command = "dotnet", args = ["format", "--include", "$path"] }
language-servers = ["omnisharp", "harper"]

[[language]]
name = "go"
scope = "source.go"
injection-regex = "go"
file-types = ["go"]
roots = ["go.mod"]
auto-format = true
language-servers = ["gopls", "harper"]

[[language]]
name = "html"
file-types = ["html", "tmpl"]
formatter = { command = "prettier", args = ["--parser", "html"] }
auto-format = false
language-servers = [
  "vscode-html-language-server",
  "tailwindcss-language-server",
  "harper",
]

[[language]]
name = "javascript"
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "json"
formatter = { command = "prettier", args = ["--parser", "json"] }
language-servers = ["vscode-json-language-server", "harper"]

[[language]]
name = "jsx"
formatter = { command = "prettier", args = ["--parser", "typescript"] }
language-servers = [
  "typescript-language-server",
  "tailwindcss-language-server",
  "harper",
]

[[language]]
name = "markdown"
formatter = { command = "prettier", args = ["--parser", "markdown"] }
language-servers = ["marksman", "harper"]

[[language]]
name = "sql"
file-types = ["sql"]
formatter = { command = "prettier", args = [
  "--plugin",
  "prettier-plugin-sql",
  "--stdin-filepath",
  "%{buffer_name}",
] }
indent = { tab-width = 2, unit = "  " }
language-servers = ["postgres-language-server"]
auto-format = true

[[language]]
formatter = { command = "prettier", args = [
  "--plugin",
  "prettier-plugin-toml",
  "--stdin-filepath",
  "%{buffer_name}",
] }
name = "toml"
language-servers = ["taplo", "harper"]
auto-format = true

[[language]]
name = "typescript"
formatter = { command = "prettier", args = ["--parser", "typescript"] }
language-servers = [
  "typescript-language-server",
  "tailwindcss-language-server",
  "harper",
]

[[language]]
name = "tsx"
formatter = { command = "prettier", args = ["--parser", "typescript"] }
language-servers = [
  "typescript-language-server",
  "tailwindcss-language-server",
  "harper",
]

[[language]]
name = "yaml"
scope = "source.yaml"
injection-regex = "yml|yaml"
file-types = ["yml", "yaml"]
formatter = { command = "prettier", args = ["--parser", "yaml"] }
auto-format = true
comment-token = "#"
indent = { tab-width = 2, unit = "  " }
language-servers = ["yaml-language-server", "harper"]

####################
# Language Servers #
####################

[language-server.gopls]
command = "gopls"

[language-server.gopls.config]
gofumpt = true
local = "goimports"
semanticTokens = true
staticcheck = true
verboseOutput = true
analyses = { "nilness" = true, "unusedparams" = true, "unusedwrite" = true, "useany" = true }
usePlaceholders = true
completeUnimported = true
hints = { "assignVariableType" = true, "compositeLiteralFields" = true, "compositeLiteralTypes" = true, "constantValues" = true, "functionTypeParameters" = true, "parameterNames" = true, "rangeVariableTypes" = true }

[language-server.harper]
command = "harper-ls"
args = ["--stdio"]

[language-server.omnisharp]
command = "OmniSharp"
args = ["--languageserver", "--stdio"]

[language-server.postgres-language-server]
command = "postgres-language-server"
args = ["lsp-proxy"]

[language-server.tailwindcss-language-server]
command = "tailwindcss-language-server"
args = ["--stdio"]

[language-server.taplo]
command = "taplo"
args = ["lsp", "stdio"]

[language-server.typescript-language-server]
command = "typescript-language-server"
args = ["--stdio"]

[language-server.vscode-css-language-server]
command = "vscode-css-language-server"
args = ["--stdio"]

[language-server.vscode-html-language-server]
command = "vscode-html-language-server"
args = ["--stdio"]

[language-server.vscode-json-language-server]
command = "vscode-json-language-server"
args = ["--stdio"]

[language-server.vscode-markdown-language-server]
command = "vscode-markdown-language-server"
args = ["--stdio"]

[language-server.yaml-language-server]
command = "yaml-language-server"
args = ["--stdio"]
